h2 {color: brown;
background-color: burlywood;}
 
h3 {color: cornflowerblue;
background-color: rgb(239, 232, 129);}    

p {color: crimson;
background-color: bisque;}

.firstdiv {background-color: rgb(223, 152, 188);}

.seconddiv {background-color: rgb(247, 247, 247);}

#myparagraph {color: rgb(13, 77, 141); background-color: white;}

#secondparagraph {color: rgb(219, 253, 140); background-color: rgb(3, 13, 88);}

div {background-color: darksalmon; color: rgb(229, 255, 124);}

span {color: rgb(146, 198, 202);}